<nav class="navbar navbar-expand-md navbar-dark bg-primary mb-4">
    <div class="container">
        <a href="" class="navbar-brand">My Dictionary</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMain">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a [routerLink]="['./practice']" routerLinkActive="selected" class="nav-link" [hidden]="!isLoggedIn()" >Practice</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['./new-entry']" routerLinkActive="selected" class="nav-link" [hidden]="!isLoggedIn()" >New Entry</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['./entry-list']" routerLinkActive="selected" class="nav-link" [hidden]="!isLoggedIn()" >Entries</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <div class="navbar-nav">
                    <a [routerLink]="['./user']" routerLinkActive="selected"  class="nav-link" [hidden]="!isLoggedIn()">{{firstName}}</a>
                    <a [routerLink]="['./login']" routerLinkActive="selected"  class="nav-link" [hidden]="isLoggedIn()">Login</a>
                    <a [routerLink]="['./register']"  routerLinkActive="selected" class="nav-link" [hidden]="isLoggedIn()">Register</a>
                    <a [routerLink]="['./login']"  routerLinkActive="selected" class="nav-link" [hidden]="!isLoggedIn()" (click)="logout()">Logout</a>
                </div>
            </ul>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>
