<nav id="sidebar" class="sidebar">
  <div class="sidebar-content">
    <perfect-scrollbar>
      <div class="sidebar-header">
        <a href="#">My Dictionary</a>
      </div>

      <div class="sidebar-profile">
        <div class="user-info">
          <span class="user-name">
          <a [routerLink]="['./user']" routerLinkActive="selected"  class="nav-link" [hidden]="!isLoggedIn()">{{firstName}}</a>
          <a [routerLink]="['./login']" routerLinkActive="selected"  class="nav-link" [hidden]="isLoggedIn()">Login</a>
          <a [routerLink]="['./register']"  routerLinkActive="selected" class="nav-link" [hidden]="isLoggedIn()">Register</a>
          <a [routerLink]="['./login']"  routerLinkActive="selected" class="nav-link" [hidden]="!isLoggedIn()" (click)="logout()">Logout</a>
          </span>
        </div>
      </div>

      <div class="sidebar-menu" [hidden]="!isLoggedIn()">
        <ul>
          <li *ngFor="let menu of menus" [ngClass]="{'active': menu.active , 'sidebar-dropdown':menu.type === 'dropdown'}">
            <a (click)='toggle(menu)'>
              <span>{{menu.title}}</span>
            </a>
            <div *ngIf="menu.type === 'dropdown'" class="sidebar-submenu" [@slide]="getState(menu)">
              <ul>
                <li *ngFor="let submenu of menu.submenus">
                  <a (click)="toggle(submenu)" > {{submenu.title}} </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </perfect-scrollbar>
  </div>
</nav>
<router-outlet></router-outlet>
