/* You can add global styles to this file, and also import other style files */
.page-container {
    overflow: auto;
    padding-left: 210px;
    width: 100%;
    padding-right: 15px;;
    margin-right: auto;
    margin-left: auto;
}
